@font-face {
    font-family:AnticSlab;
    src: url('../fonts/AnticSlab-Regular.ttf');
}
@font-face {
    font-family: ASensibleArmadillo ;
    src: url('../fonts/A%20Sensible%20Armadillo.ttf');
}

@font-face {
    font-family:Candara;
    src: url('../fonts/Candara.ttf');
}
@font-face {
    font-family:Ladylike;
    src: url('../fonts/LadylikeBB.ttf');
}
@font-face {
    font-family:ADAM;
    src: url('../fonts/ADAM.CG PRO.otf');
}
@font-face {
    font-family:autobahn;
    src: url('../fonts/autobahn_stencil.ttf');
}
@font-face {
    font-family:Hallo;
    src: url('../fonts/Hallo sans.otf');
}

@font-face {
    font-family:MD;
    src: url('../fonts/MD/md_gothic11-webfont.eot');
    src: url('../fonts/MD/md_gothic11-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MD/md_gothic11-webfont.woff2') format('woff2'),
         url('../fonts/MD/md_gothic11-webfont.woff') format('woff'),
         url('../fonts/MD_Gothic11.ttf') format('truetype'),
         url('../fonts/MD/md_gothic11-webfont.svg#media_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:Mentone;
    src: url('../fonts/mentone-semibol.otf');
}
@font-face {
    font-family:Anson;
    src: url('../fonts/Anson-Regular.otf');
}

.banner-float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:80px;
  right:60px;
  background-color:#4DABF7;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:1000;
}


#subsc form input[type="email"]:focus{
color:#FFFFFF;
}

.titlea{
    font-size: 20px;
    color: #3f444a;
    margin-top: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-family:'Raleway', sans-serif;

}
.titlei{
    
    color: #3f444a;
    margin-top: 0;
    font-family:'MD';
  
    font-size:30px;font-weight:400;

}
.liheight{
height:90px;
}

@-moz-document url-prefix() {
    #branding {
        margin-top: -5px !important;
        -moz-transform: scale(0.9);
    }
   
}
@-moz-document url-prefix() {
    .menuzord-menu {
        margin-left:40px !important;
       
    }
   
}



#branding{
  zoom:0.9;
}
#specli{
  padding-top:40px;padding-bottom: 40px;
}
.titlee{
  color: #3f444a;
    margin-top: 0;
    font-family:'MD';font-weight:400;
    font-size:19px;
}
.titleo{
  color: #3f444a;
    margin-top: 0;
    font-family:'MD';font-weight:400;
    font-size:16px;
}
.restfont{
  font-family:'Raleway',sans-serif;
  font-weight:400;
}
.desc{
  font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 300;
    font-size:15px;
    color:#FFFFFF;

}
/* slogan section */
.slogan-section {
  margin-bottom: 50px;
  text-align: center;
}
.slogan-section h2 {
  margin: 0 0 10px;
  font-weight: 400;
}
.text-left {
  text-align: left;
}
.line-section {
  margin-bottom: 20px;
}
.line-section h3,
.line-section h4,
.line-section h5 {
  margin: 0 0 20px;
}
.for-border {
  height: 11px;
  width: 100%;
  background: transparent url(../images/feature-border.png) center center no-repeat;
  border: none;
}

.arrow-style {
  padding-left: 0;
  text-align: left;
}
.arrow-style li {
  background: url("../images/list-arrow-style.png") left 3px no-repeat;
  padding-left: 25px;
  line-height: 21px;
  margin-bottom: 30px;
  color: #999ca5;
  list-style: none;
}
.plus-icon:after {
  content: url("../images/plus-red2.png");
  margin-left: 10px;
}
::-webkit-input-placeholder {
  color: #9ba0aa;
}
::-moz-placeholder {
  color: #9ba0aa;
}
:-ms-input-placeholder {
  color: #9ba0aa;
}
input:-moz-placeholder {
  color: #9ba0aa;
}
.gray-scale img:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.gray-scale img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.isotope-wrapper {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
}
/*-----------------Main menu----------------------------------------------*/
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

#main-menu ul li:hover > ul
{
	display:block;
}
/*----------------Parallax sec1 services start-------------------------*/
/* parallax 1 */
.parallax_sec1 {
    float: left;
    width: 100%;
    text-align: center;
    padding: 35px 0px 50px 0px;
    background: #000000;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:100% 0;
    background-position: center;
    position:relative;
    min-height: 440px;
}
.parallax_sec1 ul li i:hover{
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
#emer span i:hover{
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.parallax_sec1 ul.left {
    float: left;
    width: 47%;
    padding-right: 2.9%;
    border-right: 1px solid #616161;
}
.parallax_sec1 .left li {
    float: left;
    width: 100%;
    text-align: right;
    color: #999;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}
.parallax_sec1 .left li.last {
    margin: 0px 0px 0px 0px;
}
.parallax_sec1 .left li h5 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.parallax_sec1 .left li i {
    float: right;
    color: #fff;
    font-size: 32px;
    width: 72px;
    height: 72px;
    text-align: center;
    border-radius: 100%;
    vertical-align: middle;
    line-height: 72px;
    background-color: #FFFFFF;
    margin-left: 30px;
    -webkit-transition: background-color .8s, -webkit-transform .8s;
    transition: background-color .8s, transform .8s;
}

.parallax_sec1 ul.right {
    float: left;
    width: 47%;
    padding-left: 3%;
}
.parallax_sec1 .right li {
    float: left;
    width: 100%;
    text-align: left;
    color: #999;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}
.parallax_sec1 .right li.last {
    margin: 0px 0px 0px 0px;
}
.parallax_sec1 .right li h5 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.parallax_sec1 .right li i {
    float: left;
    color: #fff;
    font-size: 32px;
    width: 72px;
    height: 72px;
    text-align: center;
    border-radius: 100%;
    vertical-align: middle;
    line-height: 72px;
    background-color: #999;
    margin-right: 30px;
    -webkit-transition: background-color .8s, -webkit-transform .8s;
    transition: background-color .8s, transform .8s;
}

.parallax_sec1 .left li:hover i,
.parallax_sec1 .right li:hover i {
    color: #FFFFFF;
    background-color: #fff;
}
.white{color:#FFFFFF;}
h2 b{display: block;
    font-size: 18px;
    line-height: 23px;
    font-weight: 200;
    margin-top: 13px;}
/*-----------------------------------------------------------------------*/

/*footer New----------------------------------------------------*/
.footer {
    background: #e8e8e8;
    padding: 0px;
}
.footer a {
    color: #888;
}
#or{
    display:block;
    height:35px;
    background: url("../images/or-bg.png") center center no-repeat;
    text-align:center;
    font-size:14px;
    color:#FFFFFF;
    width:100%;
    line-height:34px;position:absolute;


}
.footer a:focus,
.footer a:hover,
.footer a:active {
    color: #666;
}
.footer-widget {
    padding: 60px 0;
}
.footer-widget ul li {
    margin-bottom: 6px;
}
.footer-widget ul li a {
    font-size: 13px;
}
.footer-logo {
    padding-bottom: 30px;
    border-bottom: 1px dashed #333;
}
.newsletter-searchbox {
    border: none;
    height: 42px;
    margin-right: 10px;
    background: #333;
}
.footer-box {
    padding: 20px 15px;
}
.footer-box.icon-box {
    margin-bottom: 0;
}
.footer-box .title {
    color: #fff;
    margin-bottom: 5px;
}
.footer-box p {
    color: #e4e4e4;
    line-height: 20px;
}
.footer-box p i {
    color: #fff;
    margin-left: 10px;
}
.footer-top {
    margin-top: -60px;
}
/*footer contact*/
.footer-contact li {
    color: #888;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}
.footer-contact li i {
    color: #555;
    font-size: 16px;
    margin-right: 20px;
}
.icon-box i {
    display: inline-block;
    font-size: 48px;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
@media only screen and (max-device-width:700px) {

}
/*---------------------------Social Icons--------------------------*/
.social-icons {
    list-style: outside none none;
    margin: 30px 0;
    padding: 0;
}
.social-icons > li {
    display: inline-block;
}
.social-icons > li:first-child {
    padding-left: 0;
}
.social-icons a {
    background-color: #eee;
    border-radius: 50%;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-right: 2px;
    text-align: center;
    width: 40px;
}
.social-icons.small a {
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    width: 30px;
}
.social-icons.medium a {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    width: 50px;
}
.social-icons.large a {
    font-size: 32px;
    height: 60px;
    line-height: 60px;
    width: 60px;
}
.border-right {
    border-right: 1px solid #333;
}

/*------------------------------------------------------*/
/*  Home Testimonial Styles
/*------------------------------------------------------*/
.home-testimonial {
  padding: 80px 0;
   height:600px;
   background:url('../images/pattern6.png') center center #fff;

}
.home-testimonial .flexslider-three {
  position: relative;
  zoom: 1;
  margin: 0;
  padding: 0;

}
.home-testimonial .flexslider-three .slides {
  zoom: 1;
}
.home-testimonial .flexslider-three .slides img {
  margin-bottom: 36px;
}
.home-testimonial .flexslider-three .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.home-testimonial .flexslider-three .flex-direction-nav a {
  top: 86px;
  width: 14px;
  height: 17px;
  font-size: 0;
    -moz-transition: none;
  -webkit-transition: none;
  transition: none;
}
.home-testimonial .flexslider-three .flex-direction-nav .flex-prev {
  left: -3%;
  opacity: 1;
  background: url("../images/prev-icon-two-sprite.png") 0px 0px no-repeat;
}
.home-testimonial .flexslider-three .flex-direction-nav .flex-next {
  right: -3%;
  opacity: 1;
  background: url("../images/next-icon-two-sprite.png") 0px 0px no-repeat;
}
.home-testimonial .flexslider-three:hover .flex-next:hover {
  background-position: 0px -37px;
}
.home-testimonial .flexslider-three:hover .flex-prev:hover {
  background-position: 0px -37px;
}
.home-testimonial blockquote {
  border: none;
  font-family: 'Droid Serif', serif;
  padding: 0;
  margin: 0 0 50px;
}
.home-testimonial blockquote p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #6a7177;
}
.home-testimonial .testimonial-footer h3 {
  margin: 0 0 10px;
}
.home-testimonial .testimonial-footer .for-border {
  margin: 0 0 10px;
}
.testimonial-push-down {
  height: 100px;
  background-color: #fff;
}
.home-testimonial.testimonial-var-two .flexslider-three {
  margin-top: -147px;
}

/*--------------------------------------About Clinic -----------------------------------------*/


article.hentry {
  line-height: 24px;
  font-size: 14px;
}

/*------------------------------------------------------*/
/* Gallery Single Page Styles
/*------------------------------------------------------*/
.gallery-single-wrapper {
  padding: 40px 0 0px;
}
.gallery-single {
  margin-bottom: 120px;
}
.gallery-single .gallery-single-post {
  position: relative;
}
.gallery-single #carousel {
  position: absolute;
  bottom: -35px;
  display: block;
  width: 90%;
  margin: auto 33px;
  padding: 0 48px;
}
.gallery-single #carousel .flex-viewport {
  padding: 8px 9px 8px 8px;
  background-color: #fff;
}
.gallery-single #carousel .slides {
  background: #fff;
}
.gallery-single #carousel .slides img {
  cursor: pointer;
}
.gallery-single #carousel .slides img:hover {
  opacity: 0.8;
}
.gallery-single #carousel li {
  margin: 0 10px 0 0;
}
.gallery-single #carousel .flex-direction-nav a {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  z-index: 9999;
  border-radius: 0;
  opacity: 1 !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.gallery-single #carousel .flex-direction-nav a:hover {
    background-color: #30a57a;
    background-position: 19px -31px;
}
.gallery-single #carousel .flex-direction-nav .flex-prev {
  background: url("../images/carousel-prev.png") 19px 19px no-repeat #ffffff;
  left: 0px;
}
.gallery-single #carousel .flex-direction-nav .flex-next {
  background: url("../images/carousel-next.png") 19px 19px no-repeat #ffffff;
  right: 0px;
}
.gallery-single .side-content {
  background: #fff;
  padding: 15px;
}
.gallery-single .side-content h1.entry-title {
  font-size: 24px;
}
.gallery-single .next-prev-posts {
  margin-bottom: 10px;
}
.gallery-single .next-prev-posts a {
  padding: 15px 17px;
  margin-left: 5px;
  display: inline-block;
  font-size: 18px;
  color: #3A3C41;
  background: #fff;
}
.gallery-single .next-prev-posts a:hover {
  background: #30a57a;
  color: #fff;
}
.gallery-single .next-prev-posts .close {
  display: none;
}
div.gallery-item-types {
  border: 1px solid #f0f5f7;
  border-left: 0;
  border-right: 0;
  padding: 10px 0;
  margin-bottom: 20px;
}
div.gallery-item-types .fa-tags {
  color: #818693;
  font-size: 16px;
  margin-right: 8px;
}
div.gallery-item-types a {
  font-weight: 400;
  color: #30a57a;
}
div.gallery-item-types a:hover {
  color: #52b2c9;
}
.related-gallery-items .common {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.related-gallery-items .common img {
  width: 100%;
  height: auto;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  overflow: hidden;
}
.related-gallery-items .content {
  padding: 10px 20px 20px;
  background-color: #fff;
  text-align: center;
}
.related-gallery-items .gallery-item-types {
  border: none;
  padding: 0;
  margin: 0 0;
}
.overlay {
  background: url("../images/for-expand-mirror.png") center center no-repeat #30a57a;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
}
.overlay-effect {
  position: relative;
  overflow: hidden;
}
.overlay-effect:hover .overlay {
  height: 100%;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Safari and Chrome */
  opacity: 0.8;
}
/*-------------------------------Services Page----------------------------------------------------------------*/
/*------------------------------------------------------*/
.banner {
  width: 100%;
  min-height: 180px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url('../images/banner.jpg');
  background-size: cover;
}
.page-top {
  padding: 27px 0;
  background: #fff;
}
.page-top h1,
.page-top h2 {
  margin: 0 15px 0 0;
  font-size: 30px;
  font-weight: 400;
  float: left;
  line-height: 46px;
}

/*------------------------------------------------------*/
/* Services page Styles
/*------------------------------------------------------*/
.services-page {
  padding: 40px 0 80px;
}
/* For one column services page */
.one-col-service {
  background-color: #fff;
  margin-bottom: 40px;
}
.one-col-service figure {
  margin: 0 auto 0 -15px;
}
/* For two columns services page */
.two-col-service {
  background-color: #fff;
  margin-bottom: 30px;
}
.two-col-service .contents {
  padding: 25px 25px 25px;
}
.two-col-service .contents h3 {
  margin: 0 0 25px;
}
/* For three columns services page */
.three-col-service {
  background-color: #fff;
  margin-bottom: 30px;
}
.three-col-service .contents {
  padding: 20px;
}
.three-col-service .contents h4 {
  margin: 0 0 20px;
}
.three-col-service .contents p {
  margin: 0 0 20px;
}
/* For four columns services page */
.four-col-service {
  background-color: #fff;
  margin-bottom: 30px;
}
.four-col-service .contents {
  padding: 20px;
}
.four-col-service .contents h4 {
  font-size: 16px;
  margin: 0;
  text-align: center;
  font-weight: 600;
}
/*------------------------------------------------------*/
/* Services Single page Styles
/*------------------------------------------------------*/
.services-single {
  padding: 70px 0;
}
.services-single .flexslider {
  position: relative;
  width: 48%;
  float: left;
  margin-right: 2%;
}
.services-single .flexslider ul {
  margin: 0;
}
.services-single .flexslider .flex-control-nav {
  position: absolute;
  right: 10px;
  bottom: 4px;
  z-index: 999;
  width: auto;
  margin-bottom: 0;
}
.services-single .flexslider .flex-control-nav li {
  margin: 0 6px;
}
.services-single .flexslider .flex-control-nav a {
  background: #e4aaa9;
}
.services-single .flexslider .flex-control-nav .flex-active {
  background: #f15b5a;
}
.services-single figure {
  float: left;
  margin-right: 20px;
  background: #fff;
  overflow: hidden;
}
.services-single h3 {
  margin-bottom: 10px;
}
.services-single h5 {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 20px;
}
.services-single p {
  margin-bottom: 20px;
  color: #999ca5;
  line-height: 24px;
}
.services-single blockquote {
  margin-bottom: 20px;
  color: #999ca5;
  line-height: 24px;
  border-left: 2px solid #f15b5a;
  padding-top: 0;
  padding-bottom: 0;
}
.services-single ul {
  padding: 0;
  margin-bottom: 20px;
}
.services-single li {
  list-style: none;
  color: #999ca5;
  margin-bottom: 5px;
}
.services-single h1,
.services-single h2,
.services-single ol,
.services-single ul,
.services-single h4,
.services-single h5,
.services-single pre {
  margin-bottom: 30px;
}
.services-single li {
  margin-bottom: 15px;
}
.services-single h6 {
  font-weight: 700;
}
.services-single p a {
  color: #30a57a;
}
.services-single blockquote {
  border-left-color: #4dbed9;
}
.services-single blockquote p {
  margin-bottom: 0 !important;
}
.services-single p.wp-caption-text {
  margin: 0;
}

/*----------------------------------Read More Button---------------------------*/
.read-more {
  font-size: 14px;
  font-weight: 700;
  background-color: #30a57a;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
}
.read-more:hover {
  color: #fff;
  background-color: #f15b5a;
  text-decoration: none;
}
.read-more.black {
  background-color: #3a3c41;
}
.read-more.black:hover {
  background-color: #f15b5a;
}
.read-more.red {
  background-color: #f15b5a;
}
.read-more.red:hover {
  background-color: #e15251;
}
.read-more.orange {
  background-color: #ffa13c;
}
.read-more.orange:hover {
  background-color: #e19132;
}
.read-more.yellow {
  background-color: #ffd543;
}
.read-more.yellow:hover {
  background-color: #e1b63f;
}
.read-more.green {
  background-color: #6dc068;
}
.read-more.green:hover {
  background-color: #65b760;
}
/*------------------------------------------------------*/
/* COntact
/*------------------------------------------------------*/
/*..... CONTACT US ......*/
#emer span i:hover{
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.contact-us .get-touch{ padding:90px 0; display:inline-block;}
.contact-us .get-touch .map{ margin:-20px 0 0 0;}
.contact-us .get-touch .detail{ margin:45px 0 0 0;}
.contact-us .get-touch .detail span{  font-size: 20px;  display: block;  line-height: 34px;}
.contact-us .leave-msg{ padding:90px 0;}
.contact-us .leave-msg .form{}
.contact-us .leave-msg .form input[type=text]{   width: 100%;  padding: 0 12px;  border: solid 1px #b1b1b1;  height: 48px;}
.contact-us .leave-msg .form input[type=submit]{  width: 100%;  border: none;  background-color: #434A5A;  color: #fff;  padding: 14px 0;  text-transform: uppercase;
font-weight: 700;  cursor: pointer; margin:10px 0 0 0;}
.contact-us .leave-msg .form textarea{ width: 100%;  height: 220px;  padding: 12px 12px;border: solid 1px #b1b1b1;}
.contact-us ::-webkit-input-placeholder { /* WebKit browsers */    color:    #767676 !important;}
.contact-us :-moz-placeholder { /* Mozilla Firefox 4 to 18 */   color:    #767676 !important;}
.contact-us ::-moz-placeholder { /* Mozilla Firefox 19+ */   color:    #767676 !important;}
.contact-us :-ms-input-placeholder { /* Internet Explorer 10+ */   color:    #767676 !important;}
.contact-us .our-location{ padding:90px 0;}
.contact-us .our-location .map { height:460px;}
.contact-us .our-location .map iframe {  border: 0;  margin: 0;  width: 100%;  height: 100%;}
.get-directions {  text-align: center;  margin: 40px 0 0 0;}
.get-directions input[type="submit"] {  background: url(../images/directions-btn.jpg) no-repeat;  width: 60px;  height: 61px;
  padding: 0;  margin: 0;  border: 0;  min-width: 0;  position: relative;  top: -6px;}
.get-directions input[type="text"] {    padding: 15px 2% 17px;  width: 86%;  max-width: 556px;  font-size: 22px;  color: #747474;  font-weight: 400;  font-family: 'Raleway', sans-serif;  border: solid 1px #BEBEBE;  border-radius: 10px;  margin: 0 10px 0 0;}

/*..... Specialities Page ......*/
.portfolio-filter a:hover{
  text-decoration:none;
}
.portfolio-filter #b{
  background-color:#00a3c8;
  color:#FFFFFF;
}
.portfolio-filter #ba{
  background-color:#30a57a;
  color:#FFFFFF;
}
.portfolio-filter #bb{
  background-color:#c9302c;
  color:#FFFFFF;
}
.portfolio-filter #bc{
  background-color:#2c66b1;
  color:#FFFFFF;
}
.portfolio-filter #bd{
  background-color:#bb2bdb;
  color:#FFFFFF;
}

.portfolio-filter #be{
  background-color:#2ac3ed;
  color:#FFFFFF;
}
.portfolio-filter #bf{
  background-color:#2c66b1;
  color:#FFFFFF;
}
.portfolio-filter #bg{
  background-color:#c9302c;
  color:#FFFFFF;
}
.portfolio-filter #bh{
  background-color:#30a57a;
  color:#FFFFFF;
}

#developer span a:hover{
  color:#2bb3dd;
};

#BreakingBanner
.onoffswitch3
{
    position: relative;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family:'Raleway', sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
}

.onoffswitch3-active .onoffswitch3-switch {
    background: #d31010; left: 0;
    width: 160px;
}
.scroll-text{
    color: #000;
    font-family:'Raleway', sans-serif;
}