/*------------------------------------------------------*/
/* Common Styles for overall theme
/*------------------------------------------------------*/


img {
  max-width: 100%;
  height: auto;
}
label {
  color: #3a3c41;
  font-weight: 500;
  font-size: 16px;
}
/* slogan section */
.slogan-section {
  margin-bottom: 50px;
  text-align: center;
}
.slogan-section h2 {
  margin: 0 0 10px;
  font-weight: 400;
}
.text-left {
  text-align: left;
}
.line-section {
  margin-bottom: 20px;
}
.line-section h3,
.line-section h4,
.line-section h5 {
  margin: 0 0 20px;
}
.for-border {
  height: 11px;
  width: 100%;
  background: transparent url(../images/feature-border.png) center center no-repeat;
  border: none;
}



.btn {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 10px 15px;
  border-radius: 0;
}
.btn:hover,
.btn:focus {
  color: #136d82;
}
input,
textarea {
  font-size: 14px;
  font-weight: 600;
  color: #9ba0aa;
  resize: none;
}

.arrow-style {
  padding-left: 0;
  text-align: left;
}
.arrow-style li {
  background: url("../images/list-arrow-style.png") left 3px no-repeat;
  padding-left: 25px;
  line-height: 21px;
  margin-bottom: 30px;
  color: #999ca5;
  list-style: none;
}
.plus-icon:after {
  content: url("../images/plus-red2.png");
  margin-left: 10px;
}
::-webkit-input-placeholder {
  color: #9ba0aa;
}
::-moz-placeholder {
  color: #9ba0aa;
}
:-ms-input-placeholder {
  color: #9ba0aa;
}
input:-moz-placeholder {
  color: #9ba0aa;
}
#message-sent {
  clear: both;
}
.gray-scale img:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.gray-scale img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.isotope-wrapper {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
}
/*------------------------------------------------------*/
/* WordPress Core
/*------------------------------------------------------*/
a img.alignnone,
.alignnone {
  float: none;
}
.aligncenter,
a img.aligncenter,
div.aligncenter {
  display: block;
  margin: 20px auto;
}
a img.alignright,
.alignright {
  float: right;
  margin: 0 0 15px 20px;
}
a img.alignleft,
.alignleft {
  float: left;
  margin: 0 20px 15px 0;
}
p.wp-caption {
  margin: 0;
}
.wp-caption.alignnone {
  float: none;
}
.wp-caption.alignleft {
  float: left;
}
.wp-caption.alignright {
  float: right;
}
.wp-caption p.wp-caption-text {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  text-align: center;
  font-size: 11px;
  letter-spacing: 1px;
  color: #7b7d85;
}
blockquote p {
  margin-bottom: 0;
}
.wp-caption-text,
.gallery-caption {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  text-align: center;
  font-size: 11px;
  letter-spacing: 1px;
  color: #888;
}
/*------------------------------------------------------*/
/* Similar Page styles
/*------------------------------------------------------*/
.banner {
  width: 100%;
  min-height: 180px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url('../images/banner.jpg');
  background-size: cover;
}
.page-top {
  padding: 27px 0;
  background: #fff;
}
.page-top h1,
.page-top h2 {
  margin: 0 15px 0 0;
  font-size: 30px;
  font-weight: 400;
  float: left;
  line-height: 46px;
}
.bread-crumb {
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  margin-top: 17px;
}
.bread-crumb .breadcrumb {
  padding: 0;
  background: none;
  border-radius: 0;
  margin: 0;
}
.bread-crumb .breadcrumb li {
  display: block;
  float: left;
}
.bread-crumb .breadcrumb > li + li:before {
  content: "";
  padding: 0;
}
.bread-crumb .breadcrumb li.active {
  color: #f15b5a;
}
.bread-crumb .divider {
  display: inline-block;
  background: url("../images/breadcrumbs-divider.png") center center no-repeat;
  width: 24px;
  height: 10px;
}

/*------------------------------------------------------*/
/* Gallery Single Page Styles
/*------------------------------------------------------*/
.gallery-single-wrapper {
  padding: 40px 0 100px;
}
.gallery-single {
  margin-bottom: 120px;
}
.gallery-single .gallery-single-post {
  position: relative;
}
.gallery-single #carousel {
  position: absolute;
  bottom: -35px;
  display: block;
  width: 90%;
  margin: auto 33px;
  padding: 0 48px;
}
.gallery-single #carousel .flex-viewport {
  padding: 8px 9px 8px 8px;
  background-color: #fff;
}
.gallery-single #carousel .slides {
  background: #fff;
}
.gallery-single #carousel .slides img {
  cursor: pointer;
}
.gallery-single #carousel .slides img:hover {
  opacity: 0.8;
}
.gallery-single #carousel li {
  margin: 0 10px 0 0;
}
.gallery-single #carousel .flex-direction-nav a {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  z-index: 9999;
  border-radius: 0;
  opacity: 1 !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.gallery-single #carousel .flex-direction-nav a:hover {
  background-color: #67c9e0;
  background-position: 19px -31px;
}
.gallery-single #carousel .flex-direction-nav .flex-prev {
  background: url("../images/carousel-prev.png") 19px 19px no-repeat #ffffff;
  left: 0px;
}
.gallery-single #carousel .flex-direction-nav .flex-next {
  background: url("../images/carousel-next.png") 19px 19px no-repeat #ffffff;
  right: 0px;
}
.gallery-single .side-content {
  background: #fff;
  padding: 15px;
}
.gallery-single .side-content h1.entry-title {
  font-size: 24px;
}
.gallery-single .next-prev-posts {
  margin-bottom: 10px;
}
.gallery-single .next-prev-posts a {
  padding: 15px 17px;
  margin-left: 5px;
  display: inline-block;
  font-size: 18px;
  color: #3A3C41;
  background: #fff;
}
.gallery-single .next-prev-posts a:hover {
  background: #67c9e0;
  color: #fff;
}
.gallery-single .next-prev-posts .close {
  display: none;
}
div.gallery-item-types {
  border: 1px solid #f0f5f7;
  border-left: 0;
  border-right: 0;
  padding: 10px 0;
  margin-bottom: 20px;
}
div.gallery-item-types .fa-tags {
  color: #818693;
  font-size: 16px;
  margin-right: 8px;
}
div.gallery-item-types a {
  font-weight: 400;
  color: #67c9e0;
}
div.gallery-item-types a:hover {
  color: #52b2c9;
}
.related-gallery-items .common {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.related-gallery-items .common img {
  width: 100%;
  height: auto;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  overflow: hidden;
}
.related-gallery-items .content {
  padding: 10px 20px 20px;
  background-color: #fff;
  text-align: center;
}
.related-gallery-items .gallery-item-types {
  border: none;
  padding: 0;
  margin: 0 0;
}
.overlay {
  background: url("../images/for-expand-mirror.png") center center no-repeat #67c9e0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
}
.overlay-effect {
  position: relative;
  overflow: hidden;
}
.overlay-effect:hover .overlay {
  height: 100%;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Safari and Chrome */
  opacity: 0.8;
}
/*------------------------------------------------------*/
/* Gallery Page Templates Styles
/*------------------------------------------------------*/
.gallery-page {
  padding: 20px 0 100px;
}
.gallery-page #filters {
  margin-bottom: 60px;
}
.gallery-page .common {
  background-color: #fff;
  margin-bottom: 30px;
}
.gallery-page .common .content {
  padding: 15px 20px 25px;
}
.gallery-page .four-col-gallery.common h4 {
  font-size: 18px;
}
.gallery-page .four-col-gallery.common .content {
  padding: 5px 15px 15px;
}
.gallery-page div.gallery-item-types {
  border: none;
  padding: 0;
  margin: 0;
}
